<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.micro.health.information.finder" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:icon="@drawable/history"
		android:label="@string/app_name" android:name=".HealthApplication">
		<activity android:label="@string/app_name" android:name=".MainActivity"></activity>
		<activity android:label="@string/app_name" android:name=".HistoryActivity"
			android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:label="@string/app_name" android:name=".SettingActivity"></activity>
		<activity android:label="@string/app_name" android:name=".PrivacyActivity"></activity>
		<activity android:label="@string/app_name" android:name=".AboutActivity"></activity>
		<activity android:label="@string/app_name" android:name=".AgrrementActivity"></activity>
		<activity android:label="@string/app_name" android:name=".WebViewActivity"></activity>
		<activity android:label="@string/app_name" android:name=".Splash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>